.animate-show {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.animate-hide {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.shadow-md::before, .shadow-md::after {
    content: none;
  }
  
  .shadow-md {
    background-image: none !important;
  }

  .content {
    /* transform: scale(0.8);
    opacity: 0.2;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    z-index: auto; */
    animation: fade-in 0.7s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 100;
    }
  }
  /* .content.visible {
    transform: scale(1); 
    opacity: 1;  
  } */